In [1]:
import pandas as pd
import numpy as np

Since the file contains multiple language characters, declare the encoding method with read_csv()

In [51]:
# Read CSV file with encoding method 'utf-8' and tranfer it into dataframe
raw = pd.read_csv("../Data/winemag-data_first150k.csv",encoding='utf-8')
raw_df = pd.DataFrame(raw)
happy = pd.read_csv("../Data/happiness_report.csv")
happy_df = pd.DataFrame(happy)
income_raw = pd.read_csv('../Data/average_income.csv')
income_df = pd.DataFrame(income_raw)
pop_raw = pd.read_csv('../Data/world_population.csv')
pop_df = pd.DataFrame(pop_raw)

In [52]:
pop_df.head()

  Geography  Pop_mid_2017 (Million)
0    Africa                  1250.0
1   Algeria                    42.2
2     Egypt                    93.4
3     Libya                     6.4
4   Morocco                    35.1

In [3]:
income_df

,Rank,Country,Average income,Unnamed: 3,monthly,Unnamed: 5
0,1,Monaco,186080.0,NaN,15507.0,NaN
1,2,Liechtenstein,116300.0,NaN,9692.0,NaN
2,3,Switzerland,82090.0,NaN,6841.0,NaN
3,4,Norway,81980.0,NaN,6832.0,NaN
4,5,Luxembourg,71590.0,NaN,5966.0,NaN
5,6,Macau,65130.0,NaN,5428.0,NaN
6,7,Denmark,56990.0,NaN,4749.0,NaN
7,8,United States,56850.0,NaN,4738.0,NaN
8,9,Iceland,56760.0,NaN,4730.0,NaN
9,10,Sweden,54770.0,NaN,4564.0,NaN
10,11,Australia,54230.0,NaN,4519.0,NaN
11,12,Ireland,53970.0,NaN,4498.0,NaN
12,13,Singapore,51880.0,NaN,4323.0,NaN
13,14,Netherlands,46610.0,NaN,3884.0,NaN
14,15,Austria,45880.0,NaN,3823.0,NaN
15,16,Finland,45040.0,NaN,3753.0,NaN
16,17,Germany,43940.0,NaN,3662.0,NaN
17,18,Canada,43880.0,NaN,3657.0,NaN
18,19,Hong Kong,42940.0,NaN,3578.0,NaN
19,20,Belgium,42610.0,NaN,3551.0,NaN
20,21,United Kingdom,42370.0,NaN,3531.0,NaN
21,22,United Arab Emirates,40480.0,NaN,3373.0,NaN
22,23,France,38720.0,NaN,3227.0,NaN
23,24,New Zealand,38640.0,NaN,3220.0,NaN
24,25,Japan,38000.0,NaN,3167.0,NaN
25,26,Israel,36250.0,NaN,3021.0,NaN
26,27,Italy,31700.0,NaN,2642.0,NaN
27,28,South Korea,27600.0,NaN,2300.0,NaN
28,29,Spain,27580.0,NaN,2298.0,NaN
29,30,Saudi Arabia,21720.0,NaN,1810.0,NaN
...,...,...,...,...,...,...
48,49,Equatorial Guinea,7180.0,NaN,598.0,NaN
49,50,Cuba,6570.0,NaN,548.0,NaN
50,51,Colombia,6310.0,NaN,526.0,NaN
51,52,Peru,5950.0,NaN,496.0,NaN
52,53,Thailand,5640.0,NaN,470.0,NaN
53,54,South Africa,5480.0,NaN,457.0,NaN
54,55,Iran,5470.0,NaN,456.0,NaN
55,56,Serbia,5310.0,NaN,443.0,NaN
56,57,Bosnia and Herzegovina,4940.0,NaN,412.0,NaN
57,58,Albania,4180.0,NaN,348.0,NaN
58,59,Kosovo,3850.0,NaN,321.0,NaN
59,60,Sri Lanka,3780.0,NaN,315.0,NaN
60,61,Philippines,3580.0,NaN,298.0,NaN
61,62,Egypt,3410.0,NaN,284.0,NaN
62,63,Indonesia,3400.0,NaN,283.0,NaN
63,64,Morocco,2880.0,NaN,240.0,NaN
64,65,Nigeria,2450.0,NaN,204.0,NaN
65,66,Ukraine,2310.0,NaN,193.0,NaN
66,67,Vietnam,2060.0,NaN,172.0,NaN
67,68,Syria,1840.0,NaN,153.0,NaN
68,69,India,1670.0,NaN,139.0,NaN
69,70,Pakistan,1500.0,NaN,125.0,NaN
70,71,Kenya,1380.0,NaN,115.0,NaN
71,72,Ghana,1380.0,NaN,115.0,NaN
72,73,Bangladesh,1330.0,NaN,111.0,NaN
73,74,Nepal,730.0,NaN,61.0,NaN
74,75,Ethiopia,660.0,NaN,55.0,NaN
75,76,Afghanistan,580.0,NaN,48.0,NaN
76,77,Democratic Republic of the Congo,460.0,NaN,38.0,NaN
77,78,Madagascar,400.0,NaN,33.0,NaN

In [4]:
happy_df

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
5,Netherlands,6,7.377,7.427426,7.326574,1.503945,1.428939,0.810696,0.585384,0.470490,0.282662,2.294804
6,Canada,7,7.316,7.384403,7.247597,1.479204,1.481349,0.834558,0.611101,0.435540,0.287372,2.187264
7,New Zealand,8,7.314,7.379510,7.248490,1.405706,1.548195,0.816760,0.614062,0.500005,0.382817,2.046456
8,Sweden,9,7.284,7.344095,7.223905,1.494387,1.478162,0.830875,0.612924,0.385399,0.384399,2.097538
9,Australia,10,7.284,7.356651,7.211349,1.484415,1.510042,0.843887,0.601607,0.477699,0.301184,2.065211
10,Israel,11,7.213,7.279853,7.146146,1.375382,1.376290,0.838404,0.405989,0.330083,0.085242,2.801757
11,Costa Rica,12,7.079,7.168112,6.989888,1.109706,1.416404,0.759509,0.580132,0.214613,0.100107,2.898639
12,Austria,13,7.006,7.070670,6.941330,1.487097,1.459945,0.815328,0.567766,0.316472,0.221060,2.138506
13,United States,14,6.993,7.074657,6.911343,1.546259,1.419921,0.774287,0.505741,0.392579,0.135639,2.218113
14,Ireland,15,6.977,7.043352,6.910649,1.535707,1.558231,0.809783,0.573110,0.427858,0.298388,1.773869
15,Germany,16,6.951,7.005382,6.896619,1.487923,1.472520,0.798951,0.562511,0.336269,0.276732,2.015770
16,Belgium,17,6.891,6.955821,6.826179,1.463781,1.462313,0.818092,0.539771,0.231503,0.251343,2.124210
17,Luxembourg,18,6.863,6.923686,6.802314,1.741944,1.457584,0.845089,0.596628,0.283181,0.318834,1.619512
18,United Kingdom,19,6.714,6.783792,6.644209,1.441634,1.496460,0.805336,0.508190,0.492774,0.265428,1.704144
19,Chile,20,6.652,6.739251,6.564749,1.252785,1.284025,0.819480,0.376895,0.326662,0.082288,2.509586
20,United Arab Emirates,21,6.648,6.722047,6.573952,1.626343,1.266410,0.726798,0.608345,0.360942,0.324490,1.734704
21,Brazil,22,6.635,6.725470,6.544531,1.107353,1.431306,0.616552,0.437454,0.162350,0.111093,2.769267
22,Czech Republic,23,6.609,6.683862,6.534138,1.352682,1.433885,0.754444,0.490946,0.088107,0.036873,2.451862
23,Argentina,24,6.599,6.690085,6.507915,1.185295,1.440451,0.695137,0.494519,0.109457,0.059740,2.614005
24,Mexico,25,6.578,6.671149,6.484851,1.153184,1.210862,0.709979,0.412730,0.120990,0.132774,2.837155
25,Singapore,26,6.572,6.636723,6.507277,1.692278,1.353814,0.949492,0.549841,0.345966,0.464308,1.216362
26,Malta,27,6.527,6.598397,6.455603,1.343280,1.488412,0.821944,0.588767,0.574731,0.153066,1.556863
27,Uruguay,28,6.454,6.545906,6.362094,1.217560,1.412228,0.719217,0.579392,0.175097,0.178062,2.172410
28,Guatemala,29,6.454,6.566874,6.341126,0.872002,1.255585,0.540240,0.531311,0.283488,0.077223,2.893891
29,Panama,30,6.452,6.557131,6.346870,1.233748,1.373193,0.706156,0.550027,0.210557,0.070984,2.307200
...,...,...,...,...,...,...,...,...,...,...,...,...
125,Congo (Kinshasa),126,4.280,4.357811,4.202190,0.092102,1.229023,0.191407,0.235961,0.246456,0.060241,2.224959
126,Mali,127,4.190,4.269671,4.110329,0.476180,1.281473,0.169366,0.306614,0.183354,0.104970,1.668191
127,Ivory Coast,128,4.180,4.275183,4.084817,0.603049,0.904780,0.048642,0.447706,0.201237,0.130062,1.844964
128,Cambodia,129,4.168,4.278518,4.057483,0.601765,1.006238,0.429783,0.633376,0.385923,0.068106,1.042941
129,Sudan,130,4.139,4.345747,3.932253,0.659517,1.214009,0.290921,0.014996,0.182317,0.089848,1.687066
130,Ghana,131,4.120,4.222707,4.017293,0.667225,0.873665,0.295638,0.423026,0.256924,0.025336,1.577868
131,Ukraine,132,4.096,4.185410,4.006590,0.894652,1.394538,0.575904,0.122975,0.270061,0.023029,0.814382
132,Uganda,133,4.081,4.195800,3.966200,0.381431,1.129828,0.217633,0.443186,0.325766,0.057070,1.526363
133,Burkina Faso,134,4.032,4.124059,3.939941,0.350228,1.043280,0.215844,0.324368,0.250865,0.120328,1.727213
134,Niger,135,4.028,4.111947,3.944053,0.161925,0.993025,0.268505,0.363659,0.228674,0.138573,1.873983
135,Malawi,136,3.970,4.077479,3.862521,0.233442,0.512569,0.315090,0.466915,0.287170,0.072712,2.081786
136,Chad,137,3.936,4.034712,3.837289,0.438013,0.953856,0.041135,0.162342,0.216114,0.053582,2.071238
137,Zimbabwe,138,3.875,3.978700,3.771300,0.375847,1.083096,0.196764,0.336384,0.189143,0.095375,1.597970
138,Lesotho,139,3.808,4.044344,3.571656,0.521021,1.190095,0.000000,0.390661,0.157497,0.119095,1.429835
139,Angola,140,3.795,3.951642,3.638358,0.858428,1.104412,0.049869,0.000000,0.097926,0.069720,1.614482
140,Afghanistan,141,3.794,3.873661,3.714338,0.401477,0.581543,0.180747,0.106180,0.311871,0.061158,2.150801
141,Botswana,142,3.766,3.874123,3.657877,1.122094,1.221555,0.341756,0.505196,0.099348,0.098583,0.377914
142,Benin,143,3.657,3.745784,3.568217,0.431085,0.435300,0.209930,0.425963,0.207948,0.060929,1.885631
143,Madagascar,144,3.644,3.714319,3.573681,0.305809,0.913020,0.375223,0.189197,0.208733,0.067232,1.584613
144,Haiti,145,3.603,3.734715,3.471285,0.368610,0.640450,0.277321,0.030370,0.489204,0.099872,1.697168
145,Yemen,146,3.593,3.692750,3.493250,0.591683,0.935382,0.310081,0.249464,0.104125,0.056767,1.345601
146,South Sudan,147,3.591,3.725539,3.456462,0.397249,0.601323,0.163486,0.147062,0.285671,0.116794,1.879567
147,Liberia,148,3.533,3.653756,3.412244,0.119042,0.872118,0.229918,0.332881,0.266550,0.038948,1.673286
148,Guinea,149,3.507,3.584428,3.429572,0.244550,0.791245,0.194129,0.348588,0.264815,0.110938,1.552312
149,Togo,150,3.495,3.594038,3.395962,0.305445,0.431883,0.247106,0.380426,0.196896,0.095665,1.837229
150,Rwanda,151,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061
151,Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574
152,Tanzania,153,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130
153,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024
154,Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005

In [5]:
raw_df.tail(10) # First 10 rows of the dataframe

,ID,country,description,designation,points,price,province,region_1,region_2,variety,winery
150920,150920,Italy,"Rich and mature aromas of smoke, earth and her...",Brut Riserva,91,19.0,Northeastern Italy,Trento,NaN,Champagne Blend,Letrari
150921,150921,France,Shows some older notes: a bouquet of toasted w...,Blanc de Blancs Brut Mosaïque,91,38.0,Champagne,Champagne,NaN,Champagne Blend,Jacquart
150922,150922,Italy,Made by 30-ish Roberta Borghese high above Man...,Superiore,91,NaN,Northeastern Italy,Colli Orientali del Friuli,NaN,Tocai,Ronchi di Manzano
150923,150923,France,"Rich and toasty, with tiny bubbles. The bouque...",Demi-Sec,91,30.0,Champagne,Champagne,NaN,Champagne Blend,Jacquart
150924,150924,France,"Really fine for a low-acid vintage, there's an...",Diamant Bleu,91,70.0,Champagne,Champagne,NaN,Champagne Blend,Heidsieck & Co Monopole
150925,150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

With the dateframe has 150930 rows and 11 columns, we want to remove column "region_2" which contains a large amount of "NaN" data. Also rows that contains NaN values in the remaining dataframe.

In [6]:
semi_df = raw_df.drop(['region_2'],axis=1).dropna()
semi_df.tail(10)

,ID,country,description,designation,points,price,province,region_1,variety,winery
150917,150917,France,"Light and elegant, this spicy, lively wine is ...",Brut Mosaïque,92,30.0,Champagne,Champagne,Champagne Blend,Jacquart
150918,150918,France,"Jacquart makes a full-bodied, ripe style of Ch...",Cuvée Mosaïque,92,38.0,Champagne,Champagne,Champagne Blend,Jacquart
150919,150919,France,This classy example opens with a very floral n...,Cuvée President,91,37.0,Champagne,Champagne,Champagne Blend,H.Germain
150920,150920,Italy,"Rich and mature aromas of smoke, earth and her...",Brut Riserva,91,19.0,Northeastern Italy,Trento,Champagne Blend,Letrari
150921,150921,France,Shows some older notes: a bouquet of toasted w...,Blanc de Blancs Brut Mosaïque,91,38.0,Champagne,Champagne,Champagne Blend,Jacquart
150923,150923,France,"Rich and toasty, with tiny bubbles. The bouque...",Demi-Sec,91,30.0,Champagne,Champagne,Champagne Blend,Jacquart
150924,150924,France,"Really fine for a low-acid vintage, there's an...",Diamant Bleu,91,70.0,Champagne,Champagne,Champagne Blend,Heidsieck & Co Monopole
150926,150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,Champagne Blend,H.Germain
150927,150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,White Blend,Terredora
150928,150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,Champagne Blend,Gosset

In [7]:
semi_df['ID'] = np.arange(len(semi_df["ID"])) # Reset ID Column 
semi_df.tail(10)

,ID,country,description,designation,points,price,province,region_1,variety,winery
150917,77274,France,"Light and elegant, this spicy, lively wine is ...",Brut Mosaïque,92,30.0,Champagne,Champagne,Champagne Blend,Jacquart
150918,77275,France,"Jacquart makes a full-bodied, ripe style of Ch...",Cuvée Mosaïque,92,38.0,Champagne,Champagne,Champagne Blend,Jacquart
150919,77276,France,This classy example opens with a very floral n...,Cuvée President,91,37.0,Champagne,Champagne,Champagne Blend,H.Germain
150920,77277,Italy,"Rich and mature aromas of smoke, earth and her...",Brut Riserva,91,19.0,Northeastern Italy,Trento,Champagne Blend,Letrari
150921,77278,France,Shows some older notes: a bouquet of toasted w...,Blanc de Blancs Brut Mosaïque,91,38.0,Champagne,Champagne,Champagne Blend,Jacquart
150923,77279,France,"Rich and toasty, with tiny bubbles. The bouque...",Demi-Sec,91,30.0,Champagne,Champagne,Champagne Blend,Jacquart
150924,77280,France,"Really fine for a low-acid vintage, there's an...",Diamant Bleu,91,70.0,Champagne,Champagne,Champagne Blend,Heidsieck & Co Monopole
150926,77281,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,Champagne Blend,H.Germain
150927,77282,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,White Blend,Terredora
150928,77283,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,Champagne Blend,Gosset

In [8]:
uniq_country = list(set(semi_df["country"]))
uniq_country # all unique country names, to filter record in the happiness_df

['Spain', 'France', 'US', 'Australia', 'Italy', 'Canada', 'Argentina']

In [9]:
happy_ref = {}
for ctry in uniq_country:
    if ctry != 'US':
        happy_ref[ctry] = happy_df.loc[happy_df['Country']==ctry]['Happiness.Score'].tolist()[0]
    else:
        happy_ref[ctry] = happy_df.loc[happy_df['Country']=='United States']['Happiness.Score'].tolist()[0]

In [10]:
happy_ref

{'Argentina': 6.59899997711182,
 'Australia': 7.28399991989136,
 'Canada': 7.31599998474121,
 'France': 6.44199991226196,
 'Italy': 5.96400022506714,
 'Spain': 6.40299987792969,
 'US': 6.993000030517581}

In [11]:
income_ref = {}

In [12]:
for ctry in uniq_country:
    if ctry != 'US':
        income_ref[ctry] = income_df.loc[income_df['Country']==ctry]['Average income'].tolist()[0]
    else:
        income_ref[ctry] = income_df.loc[income_df['Country']=='United States']['Average income'].tolist()[0]
income_ref

{'Argentina': 11970.0,
 'Australia': 54230.0,
 'Canada': 43880.0,
 'France': 38720.0,
 'Italy': 31700.0,
 'Spain': 27580.0,
 'US': 56850.0}

In [54]:
pop_ref = {}
for ctry in uniq_country:
    if ctry != 'US':
        pop_ref[ctry] = pop_df.loc[pop_df['Geography']==ctry]['Pop_mid_2017 (Million)'].tolist()[0]
    else:
        pop_ref[ctry] = pop_df.loc[pop_df['Geography']=='United States']['Pop_mid_2017 (Million)'].tolist()[0]
pop_ref

{'Argentina': 44.3,
 'Australia': 24.5,
 'Canada': 36.7,
 'France': 65.0,
 'Italy': 60.5,
 'Spain': 46.6,
 'US': 325.4}

In [13]:
# add a new column call "happy_score" and assign score value from "happy_ref"
semi_df["happy_score"]=''
semi_df['avg_income']=''
for index, row in semi_df.iterrows():
    semi_df.set_value(index, "happy_score", happy_ref[row['country']])
    semi_df.set_value(index, "avg_income", income_ref[row['country']])
semi_df.tail()

,ID,country,description,designation,points,price,province,region_1,variety,winery,happy_score,avg_income
150923,77279,France,"Rich and toasty, with tiny bubbles. The bouque...",Demi-Sec,91,30.0,Champagne,Champagne,Champagne Blend,Jacquart,6.442,38720
150924,77280,France,"Really fine for a low-acid vintage, there's an...",Diamant Bleu,91,70.0,Champagne,Champagne,Champagne Blend,Heidsieck & Co Monopole,6.442,38720
150926,77281,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,Champagne Blend,H.Germain,6.442,38720
150927,77282,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,White Blend,Terredora,5.964,31700
150928,77283,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,Champagne Blend,Gosset,6.442,38720

In [14]:
#semi_df.to_csv('../Data/clean_winemag-data.csv',encoding = 'utf=8',index = False)

In [23]:
a = list(semi_df[semi_df['variety']=="Champagne Blend"]['price'])
b = list(semi_df[semi_df['variety']=="Champagne Blend"]['points'])
min(a)

7.0

In [42]:
c = []
for i in range(0,len(a)):
    c.append([a[i],b[i]])
    
print(c)

[37.0, 90]

In [26]:
variety_df = semi_df.loc[semi_df['variety']=='Champagne Blend',['points','winery']]
list(set(variety_df[variety_df['points']==max(b)]['winery']))

['Moët & Chandon']

In [27]:
semi_df.to_csv('../Data/clean_winedata_happyscore_avgincome.csv',encoding = 'utf=8',index = False)

In [37]:
avg_ctry_df = semi_df.loc[:,['country','points','price']]
avg_ctry_df.head(10)

  country  points  price
0      US      96  235.0
1   Spain      96  110.0
2      US      96   90.0
3      US      96   65.0
4  France      95   66.0
5   Spain      95   73.0
6   Spain      95   65.0
7   Spain      95  110.0
8      US      95   65.0
9      US      95   60.0

In [40]:
country_df = pd.DataFrame(avg_ctry_df.groupby('country')['points','price'].mean()).reset_index()
country_df

     country     points      price
0  Argentina  86.454219  23.820723
1  Australia  88.374660  36.857575
2     Canada  88.335664  39.958042
3     France  88.861031  45.536068
4      Italy  88.673968  40.149158
5      Spain  86.816788  29.281555
6         US  88.315344  37.471356

In [45]:
winery_ct_ref = {}
variety_ct_ref = {}
for ctry in uniq_country:
    winery_ct_ref[ctry] = len(list(set(semi_df.loc[semi_df['country']==ctry]['winery'])))
    variety_ct_ref[ctry] = len(list(set(semi_df.loc[semi_df['country']==ctry]['variety'])))
winery_ct_ref

{'Argentina': 371,
 'Australia': 384,
 'Canada': 35,
 'France': 1452,
 'Italy': 1831,
 'Spain': 1103,
 'US': 3528}

In [47]:
variety_ct_ref

{'Argentina': 59,
 'Australia': 76,
 'Canada': 24,
 'France': 109,
 'Italy': 162,
 'Spain': 107,
 'US': 190}

In [55]:
country_df['happy_score'] = ''
country_df['avg_income'] = ''
country_df['winery_count'] = ''
country_df['variety_count'] = ''
country_df['pop_2017_million'] = ''
country_df

,country,points,price,happy_score,avg_income,winery_count,variety_count,pop_2017_million
0,Argentina,86.454219,23.820723,,,,,
1,Australia,88.374660,36.857575,,,,,
2,Canada,88.335664,39.958042,,,,,
3,France,88.861031,45.536068,,,,,
4,Italy,88.673968,40.149158,,,,,
5,Spain,86.816788,29.281555,,,,,
6,US,88.315344,37.471356,,,,,

In [56]:
for index, row in country_df.iterrows():
    country_df.set_value(index, "happy_score", happy_ref[row['country']])
    country_df.set_value(index, "avg_income", income_ref[row['country']])
    country_df.set_value(index, "winery_count", winery_ct_ref[row['country']])
    country_df.set_value(index, "variety_count", variety_ct_ref[row['country']])
    country_df.set_value(index, "pop_2017_million", pop_ref[row['country']])
country_df.tail(10)

,country,points,price,happy_score,avg_income,winery_count,variety_count,pop_2017_million
0,Argentina,86.454219,23.820723,6.599,11970,371,59,44.3
1,Australia,88.374660,36.857575,7.284,54230,384,76,24.5
2,Canada,88.335664,39.958042,7.316,43880,35,24,36.7
3,France,88.861031,45.536068,6.442,38720,1452,109,65
4,Italy,88.673968,40.149158,5.964,31700,1831,162,60.5
5,Spain,86.816788,29.281555,6.403,27580,1103,107,46.6
6,US,88.315344,37.471356,6.993,56850,3528,190,325.4

In [57]:
country_df.to_csv('../Data/country_avg.csv',encoding = 'utf=8',index = False)